NEXT_PUBLIC_APP_NAME="CCTV Digital Swanda"
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_GO2RTC_PUBLIC_BASE_URL=
GO2RTC_INTERNAL_BASE_URL=
ACTIVITY_LOG_ENABLED=true
